/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#reaction-button-tooltip {
  .popover-body {
    .btn {
      background-color: var(--bs-body-bg);
      border-color: transparent;

      &:hover {
        [data-bs-theme='dark'] & {
          background-color: var(--bs-gray-800);
        }

        background-color: var(--bs-gray-100);
      }

      &:active,
      &.active {
        background-color: var(--bs-gray-200);

        [data-bs-theme='dark'] & {
          background-color: var(--bs-gray-700);
        }
      }
    }
  }
}

.btn-reaction {
  [data-bs-theme='dark'] & {
    color: var(--bs-gray-400) !important;
    background-color: var(--bs-gray-800);
    &:active,
    &.active {
      background-color: #626e79 !important;
    }
    &:hover {
      background-color: #57616b !important;
    }
  }
}

.answer-item {
  border-top: 1px solid var(--an-answer-item-border-top);
  transition:
    box-shadow 220ms ease,
    background-color 220ms ease,
    padding 220ms ease,
    margin 220ms ease;
}

.answer-item-accepted {
  border-top: 0;
  border-radius: 12px;
  box-shadow:
    0 33px 22px rgba(var(--bs-primary-rgb), 0.12),
    0 0 0 2px rgba(var(--bs-primary-rgb), 0.45);
  padding: 1.25rem 1.5rem;
  margin: 0.5rem 0 0.75rem;
}

.smile-btn.active::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80;
  display: block;
  cursor: default;
  content: ' ';
}

@media screen and (max-width: 768px) {
  .questionDetailPage {
    h1.h3 {
      font-size: calc(1.275rem + 0.3vw) !important;
    }
  }
}
